<h3>Welcome to eLearn</h3>
		<p>
			Integrated gamified learning tools are a massive step forward in the ‘next best thing’ for elearning. Moving on from the basic and the ‘best’ platforms that are being developed are now integrated (coordinated elements), gamified (has game design elements), elearning tools, such as Simformer, a multi-user simulated business environment, complete with reporting and adaptability.
		</p>
		<a class="button" href="/users/register">Sign Up</a>
		<p>You need to sign up to register for classes.</p>